AutoMail Mentor.json
{
  "name": "AutoMail Mentor",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        -16
      ],
      "id": "d6d85aa7-9506-41c4-8071-d0d48cbf899e",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "xyggIkAiNRznzolg",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        16,
        -16
      ],
      "id": "4f25dd08-12d5-4e98-9912-d7b53f2cbc8d",
      "name": "Get a message",
      "webhookId": "8c737d84-28b2-43d3-a5d6-ec9a4fa43e94",
      "credentials": {
        "gmailOAuth2": {
          "id": "xyggIkAiNRznzolg",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a email responding agent.\nBelow are the content of latest email I got. Subject: {{ $json.Subject }} \nBody : {{ $json.snippet }} \nYou have to do 2 things,\n1. specify the label based on the email. Use the get many label in gmail tool to get all the labels and their Ids and mention both of them properly. \nlabel can be one of below : course, sponsorship, doubts.\n2.As a smart agent you have to draft a reply so that I can reply to my email please draft the response for me there should be subject and label. Make sure that reply is very respectable and wherever required please explain student doubt in depth with example and also make sure that reply follow a strict HTML format so it is easy to read. \n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        192,
        -16
      ],
      "id": "bdc2f027-7c88-44ff-96eb-134a4d9c38a0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        224
      ],
      "id": "8e17cb6e-c81d-470f-8cfe-f71a7cd4552a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TIrYzXCruYLaOZlv",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"label\":\"doubt\",\n  \"label_id\" : \"123455678\",\n  \"Subject\" : \"doubt_answer\",\n  \"body\": \"Thanks for reaching out\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        400,
        224
      ],
      "id": "d7fe5e54-7c72-4b71-b9e4-cb3e7ac73a7e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": "={{ $json.output.label_id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        512,
        -16
      ],
      "id": "759c1fec-408d-478d-9a46-1f5e90ff6379",
      "name": "Add label to message",
      "webhookId": "0b40ee9d-63ca-4da1-930f-b66bd5e3979f",
      "credentials": {
        "gmailOAuth2": {
          "id": "xyggIkAiNRznzolg",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        240,
        224
      ],
      "id": "a79ef9c9-dcde-48af-bb4b-40b7db899b3d",
      "name": "Get many labels in Gmail",
      "webhookId": "da2e7bb2-21a2-4570-bddd-89c76de50494",
      "credentials": {
        "gmailOAuth2": {
          "id": "xyggIkAiNRznzolg",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('AI Agent').item.json.output.Subject }}",
        "emailType": "html",
        "message": "={{ $('AI Agent').item.json.output.body }}",
        "options": {
          "threadId": "={{ $('Get a message').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        -16
      ],
      "id": "67c6f680-36ff-4e5b-9690-87c38ff12a8b",
      "name": "Create a draft",
      "webhookId": "86e83416-4ff7-46c8-a595-504dfb4eed97",
      "credentials": {
        "gmailOAuth2": {
          "id": "xyggIkAiNRznzolg",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "## Hey, I'm AutoMail Mentor.\n\nCrafted with ♥ by Mahnoor Hussain",
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        192
      ],
      "typeVersion": 1,
      "id": "4e83e2ec-a7a5-4091-804c-8dec3168d43f",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bb9d440f-095c-4cbd-b2ca-1fefb0db94df",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "36e5b8acffef6d9e199c770a496fc034332fcb50e464bcb97692c27f5a41e6f9"
  },
  "id": "vszEzZthW0QSobaZ",
  "tags": [
    {
      "updatedAt": "2025-11-14T17:28:18.145Z",
      "createdAt": "2025-11-14T17:28:18.145Z",
      "id": "iJGDaF53gmEmn90K",
      "name": "gmail_agent"
    }
  ]
}